<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<!-- Primer div con imagen -->
<div class="image-container">
  <img src="assets/images/fondo_productos.png" alt="Imagen de cabecera">
  <div class="interactive-text">
    <h1>Ofertas</h1>
  </div>
</div>
<div class="contenedor-principal" *ngIf="!loading && oferta; else loadingOrError">
  <!-- Sección de títulos -->
  <div class="titulo">
    <h1>{{ oferta.nombre_oferta }}</h1>
  </div>
  
  <!-- Mostrar porcentaje de descuento -->
  <div class="descuento" *ngIf="oferta.porcentaje_descuento">
    {{ oferta.porcentaje_descuento }}% DE DESCUENTO
  </div>
  
  <!-- Sección de fechas -->
  <div class="seccion-fechas">
    <div class="fecha-inicio">
      <span>Válido desde: </span>
      <strong>{{ formatDate(oferta.fecha_inicio) }}</strong>
    </div>
    <div class="fecha-fin">
      <span>Hasta: </span>
      <strong>{{ formatDate(oferta.fecha_fin) }}</strong>
    </div>
  </div>
  
  <!-- Sección de imagen y descripción -->
  <div class="seccion-inferior">
    <div class="parte-imagen" *ngIf="oferta.imagen_url">
      <img [src]="oferta.imagen_url" [alt]="oferta.nombre_oferta" class="imagen-oferta">
    </div>
    <div class="parte-textos">
      <div class="descripcion" *ngIf="oferta.descripcion">
        <h3>Descripción</h3>
        <p>{{ oferta.descripcion }}</p>
      </div>
      
      <div class="terminos" *ngIf="oferta.terminos_condiciones">
        <h3>Términos y condiciones</h3>
        <p>{{ oferta.terminos_condiciones }}</p>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <div class="loading-error">
    <div *ngIf="loading" class="loading">
      <p>Cargando oferta destacada...</p>
    </div>
    
    <div *ngIf="error" class="error">
      <p>{{ error }}</p>
    </div>
    
    <div *ngIf="!loading && !error && !oferta" class="no-oferta">
      <p>No hay ofertas destacadas disponibles</p>
    </div>
  </div>
</ng-template>