<!-- Primer div con imagen -->
<div class="image-container">
  <img src="assets/images/fondo_productos.png" alt="Imagen de cabecera">
  <div class="interactive-text">
    <h1>Productos</h1>
  </div>
</div>

<div class="container" #mainContainer>
  <!-- Primer aside (Categorías) -->
  <div class="aside-container">
    <h2 class="category-title">Categorías</h2>
    <aside>
      <ul class="categorias">
        <li *ngFor="let categoria of categorias" (click)="onCategoryClick(categoria.id)"
          [class.active]="selectedCategoryId === categoria.id" [id]="'category-' + categoria.id">
          {{ categoria.nombre }}
        </li>
      </ul>
    </aside>
  </div>

  <!-- Segundo aside (Productos) -->
  <div class="products-aside-container">
    <h2 class="product-title">Productos</h2>
    <aside>
      <ul class="productos-lista">
        <li *ngFor="let producto of productos" (click)="selectProduct(producto)"
          [class.active]="selectedProduct?.id === producto.id">
          {{ producto.nombre }}
        </li>
      </ul>
    </aside>
  </div>

  <!-- Área principal de detalles del producto -->
  <div class="product-detail-container" *ngIf="selectedProduct">
    <div class="product-header">
      <h1>{{ selectedProduct.nombre }}</h1>
    </div>
    <div class="product-content">
      <div class="product-description">
        <p [innerHTML]="selectedProduct.descripcion"></p>
      </div>
      <div class="product-image-wrapper">
        <img [src]="selectedProduct.url" alt="{{ selectedProduct.nombre }}" class="product-image">
      </div>
    </div>
  </div>
</div>