.topbar {
    /* background-color: hsla(197, 92%, 60%, 1); */
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(167,175,37,1) 39%, rgba(48,157,45,1) 50%, rgba(24,153,46,1) 57%, rgba(12,151,157,1) 67%, rgba(0,6,121,1) 83%, rgba(8,4,14,1) 97%);    align-items: center;
    justify-content: center;
    display: flex;
}

.logo-container {
    /* width: 80px;
    height: 80px; */
    flex: 0 0 auto;
    margin-left: 40px;

    .img-logo {
        width: 250px;
        z-index: 3;
        /* height: 70px; */
    }
}

.menu-bar{
    display: none;

    .icon-menu{
        color: #fff;
    }
}

.top-menu {
    display: flex;
    align-items: center;
    color: white;
    height: 80px;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
ul {
    list-style-type: none;
    margin: 0;
}

ul li {
    display: inline-block;
    margin-right: 30px;
    padding: 3px 10px;
    background-color: transparent;
    border: 3px solid transparent;
    transition: all 0.3s ease;
    cursor: pointer;
}

ul li.active {
    border-bottom: 3px solid #e72f2f;
    color: #e72f2f;
    text-align: center;
    background-color: transparent;
}

ul li:hover{
    /* border-bottom: 3px solid #ff0000; */
    color: #e72f2f;
}