<div class="main-container">
  <!-- PAginador inicial -->
  <section id="slider">
    <div class="swiper-container" #swiperRef>
      <div class="title">
        <span>ALLPRINT IMPRENTA DIGITAL</span>
        <span>Todo en impresión digital</span>
      </div>

      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let img of images">
          <img [src]="img" alt="Imagen">
        </div>
      </div>

      <!-- Botones de navegación -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

      <!-- Paginación -->
      <div class="swiper-pagination"></div>
    </div>

    <div class="redirect-container">
      <div class="btn-container">
        <div class="button-mail">
          <a
            href="mailto:allprint.ec@gmail.com?subject=Quiero%20una%20cotización&body=Hola,%20quisiera%20más%20información%20sobre%20sus%20servicios.">
            <img src="../../../assets/images/logos/mail_logo.png" alt="Gmail" style="width: 30px;">
          </a>
        </div>
        <p>allprint.ec&#64;gmail.com</p>

      </div>

      <div class="btn-container">
        <div class="button-whatsapp">
          <a href="https://wa.me/c/593985081616?text=Hola,%20quiero%20cotizar%20una%20impresión">
            <img src="../../../assets/images/logos/whatsapp_logo.png" alt="Gmail" style="width: 30px;">
          </a>
        </div>
        <p>+593 985081616</p>
      </div>
      <!-- <button class="button-whatsapp" (click)="redirectToPage('/cotizacion')">Whatsapp</button>
      <button class="button-mail" (click)="redirectToPage('/cotizacion')">Mail</button> -->
    </div>
  </section>

  <section id="services">
    <h2>PRODUCTOS Y SERVICIOS</h2>
    <div class="matrix-container">

      <div class="matrix-item" (click)="redirectToPage('page1')">
        <i class="fa fa-solid fa-id-card-clip"></i>
        <h3>Tarjetas de Presentación</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page2')">
        <i class="fa fa-solid fa-file-invoice"></i>
        <h3>Facturas & Referencias</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page3')">
        <i class="fa fa-solid fa-triangle-exclamation"></i>
        <h3>Señaletica</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page4')">
        <i class="fa fa-solid fa-tag"></i>
        <h3>Llaveros</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page5')">
        <i class="fa fa-solid fa-barcode"></i>
        <h3>Código de Barras</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-scroll"></i>
        <h3>Roll Ups</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-compact-disc"></i>
        <h3>CD´s DVD´s</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-calendar-days"></i>
        <h3>Calendarios</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-window-restore"></i>
        <h3>Magnéticos</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-stamp"></i>
        <h3>Sellos de Caucho</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-note-sticky"></i>
        <h3>Adhesivos</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-id-badge"></i>
        <h3>Carnets</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-pen-clip"></i>
        <h3>Esferos</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-computer-mouse"></i>
        <h3>MousePads</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-brands fa-shirtsinbulk"></i>
        <h3>Estampados</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-brands fa-product-hunt"></i>
        <h3>Botones Publicitarios</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-book"></i>
        <h3>Impresión-Copiado-Anillado</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-money-check-dollar"></i>
        <h3>Habladores-Material POP</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fas fa-solid fa-address-book"></i>
        <h3>Cuadernos y Agendas</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa-solid fa-beer-mug-empty"></i>
        <h3>Jarras Perzonalizadas</h3>
      </div>
      <!-- Agrega los demás elementos aquí (hasta 20 elementos en total) -->
    </div>
  </section>

  <section id="clients">
    <div class="clientes-container">
      <h2>Nuestros clientes</h2>

      <!-- <div class="swiper-container" #swiperRef2>
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let img of clienteLogos">
            <img [src]="img" alt="Imagen">
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div> -->
      <div class="clientes-matrix">
        <img src="assets/images/logos/bancosolidario.png" alt="Logo 1" class="cliente-logo">
        <img src="assets/images/logos/edimca.png" alt="Logo 2" class="cliente-logo">
        <img src="assets/images/logos/grunental.png" alt="Logo 3" class="cliente-logo">
        <img src="assets/images/logos/biess.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/humana.webp" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/santillana.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/fybeca.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/sri.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/kia.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/procredit.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/kfc.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/sukasa.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/gm.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/giz.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/meditropoli.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/citimed.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/toyota.png" alt="Logo 4" class="cliente-logo">
        <img src="assets/images/logos/xerox.png" alt="Logo 4" class="cliente-logo">
        <!-- Agrega más imágenes si es necesario -->
      </div>
    </div>
  </section>



</div>