.main-container{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.carousel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .nz-carousel-content{
    text-align: center;
        height: 60px;
        line-height: 60px;
        background: #364d79;
        color: #fff;
        overflow: hidden;
  }

  h3 {
    color: #fff;
    margin-bottom: 0;
    user-select: none;
  }