<div class="main-container">
  <!-- PAginador inicial -->
  <section id="slider">
    <div class="swiper-container" #swiperRef>
      <div class="title">
        <span>ALLPRINT IMPRENTA DIGITAL</span>
        <span>Todo en impresión digital</span>
      </div>

      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let img of images">
          <img [src]="img" alt="Imagen">
        </div>
      </div>

      <!-- Botones de navegación -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>

      <!-- Paginación -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="redirect-container" *ngIf="parametros.correo_contacto">
      <!-- Botón de Email -->
      <div class="btn-container">
        <div class="button-mail">
          <a [href]="'mailto:' + parametros.correo_contacto + 
                      '?subject=' + encodeMessage(parametros.asunto_correo || 'Consulta') + 
                      '&body=' + encodeMessage(parametros.cuerpo_correo || 'Hola, quisiera más información')" 
             target="_blank">
            <img src="assets/images/logos/mail_logo.png" alt="Gmail" style="width: 30px;">
          </a>
        </div>
        <p>{{ parametros.correo_contacto }}</p>
      </div>
    
      <!-- Botón de WhatsApp -->
      <div class="btn-container">
        <div class="button-whatsapp">
          <a [href]="'https://wa.me/' + parametros.whatsapp_numero + 
                     '?text=' + encodeMessage(parametros.whatsapp_mensaje || 'Hola, quiero información')" 
             target="_blank">
            <img src="assets/images/logos/whatsapp_logo.png" alt="WhatsApp" style="width: 30px;">
          </a>
        </div>
        <p>+{{ parametros.whatsapp_numero?.replace('593', '593 ') }}</p>
      </div>
    
      <!-- Botón de Maps -->
      <div class="btn-container">
        <div class="button-maps">
          <a [href]="parametros.maps_ubicacion" target="_blank">
            <img src="assets/images/logos/logo_maps.png" alt="Google Maps" style="width: 30px;">
          </a>
        </div>
        <p>{{ parametros.texto_ubicacion || 'Ubícanos' }}</p>
      </div>
    </div>
    
  </section>

  <section id="services">
    <h2>PRODUCTOS Y SERVICIOS</h2>
    <div class="matrix-container">

      <div class="matrix-item" (click)="redirectToPage('page1')">
        <i class="fa fa-solid fa-id-card-clip"></i>
        <h3>Tarjetas de Presentación</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page2')">
        <i class="fa fa-solid fa-file-invoice"></i>
        <h3>Facturas & Referencias</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page3')">
        <i class="fa fa-solid fa-triangle-exclamation"></i>
        <h3>Señaletica</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page4')">
        <i class="fa fa-solid fa-tag"></i>
        <h3>Llaveros</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page5')">
        <i class="fa fa-solid fa-barcode"></i>
        <h3>Código de Barras</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-scroll"></i>
        <h3>Roll Ups</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-compact-disc"></i>
        <h3>CD´s DVD´s</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-calendar-days"></i>
        <h3>Calendarios</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-window-restore"></i>
        <h3>Magnéticos</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-stamp"></i>
        <h3>Sellos de Caucho</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-note-sticky"></i>
        <h3>Adhesivos</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-id-badge"></i>
        <h3>Carnets</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-pen-clip"></i>
        <h3>Esferos</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-computer-mouse"></i>
        <h3>MousePads</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-brands fa-shirtsinbulk"></i>
        <h3>Estampados</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-brands fa-product-hunt"></i>
        <h3>Botones Publicitarios</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-book"></i>
        <h3>Impresión-Copiado-Anillado</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa fa-solid fa-money-check-dollar"></i>
        <h3>Habladores-Material POP</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fas fa-solid fa-address-book"></i>
        <h3>Cuadernos y Agendas</h3>
      </div>

      <div class="matrix-item" (click)="redirectToPage('page6')">
        <i class="fa-solid fa-beer-mug-empty"></i>
        <h3>Jarras Perzonalizadas</h3>
      </div>
      <!-- Agrega los demás elementos aquí (hasta 20 elementos en total) -->
    </div>
  </section>

  <section id="clients">
    <div class="clientes-container">
      <h2>Nuestros clientes</h2>

      <div class="swiper-container" #swiperRef2>
        <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let img of clienteLogos">
            <img [src]="img" alt="Imagen">
          </div>
        </div>
      </div>
    </div>
  </section>



</div>